.pageNumbers {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.pageNumbers li {
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
  margin: 10px;
  border-radius: 12px;
}

.pageNumbers li.active {
  background-color: rgba(0, 0, 0, 0.815);
  color: #fff;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  width: 60px;
}
.pageNumbers li button:hover {
  background-color: black;
  color: #fff;
}
.pageNumbers li button:focus {
  outline: none;
}
.pageNumbers li button:disabled {
  color: rgb(61, 60, 60);
  background-color: blanchedalmond;
}
